@model Task_Project.Models.Entities.User

@{
    ViewBag.Title = "Index";
}

<table>

    <tr>
        <th>FirstName:@Model.FirstName </th>
    </tr>
    <tr>
        <th>LastName:@Model.Lastname </th>
    </tr>
    <tr>
        <th>Gender:@Model.Gender </th>
    </tr>
    <tr>
        <th>Age:@Model.Age </th>
    </tr>
    <tr>
        <th>Creation Date: @Model.CreationDate </th>
    </tr>
</table>

